<% @avas.each do |ava| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path ava.photo.key, height: 300, crop: :fill %>')">
    <%= ava.number %>
    <%= ava.rare %>
    <%= ava.batch %>
  </div>
<% end %>
