.card-category {
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.commune {
  border: 7px solid white;
}

.rare {
  border: 7px solid #0070dd;
}

.epique {
  border: 7px solid #a335ee;
}

.legendaire {
  border: 7px solid #ff8000;
}
